[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
libpytunes = {path = "./libpytunes-1.5.2-py310-none-any.whl"}
pymtp = "*"

[dev-packages]

[requires]
python_version = "3.10"
